{% extends 'base.html'%}
{% block content %}



      <div class="container bg-white rounded-bottom">
        <h1 class = 'display-2' >ФГОС</h1>
        <p class = 'text-muted'>
            Федеральные государственные образовательные стандарты (ФГОС) –
            это совокупность требований, обязательных при реализации основных
            образовательных программ начального общего, основного общего,
            среднего (полного) общего, начального профессионального,
            среднего профессионального и высшего профессионального образования
            образовательными учреждениями, имеющими государственную аккредитацию.
        </p>
        <h1 class = 'display-5'>Зачем нужны ФГОС?</h1>
        <p class = 'text-muted'>
            Федеральные государственные образовательные стандарты обеспечивают:
            <ul class = 'text-muted'>
                <li>единство образовательного пространства Российской Федерации;</li>
                <li>преемственность основных образовательных программ начального общего,
                    основного общего, среднего (полного) общего, начального профессионального,
                     среднего профессионального и высшего профессионального образования.</li>
            </ul>
        </p>
        <h1 class = 'display-5'>Что предусматривает ФГОС?</h1>
        <p class = 'text-muted'>
            Каждый стандарт включает 3 вида требований:
            <ul class = 'text-muted'>
                <li>требования к структуре основных образовательных программ,
                    в том числе требования к соотношению частей основной образовательной программы и их объёму,
                    а также к соотношению обязательной части основной образовательной программы и части,
                    формируемой участниками образовательного процесса;</li>
                <li>требования к условиям реализации основных образовательных программ,
                    в том числе кадровым, финансовым, материально-техническим и иным условиям;</li>
                <li>требования к результатам освоения основных образовательных программ.</li>
            </ul>
        </p>
        <hr>
        <div class = 'text-center' style = 'padding-bottom: 15px;'>
            <p>
                Информация взята с официального
                <a href="https://fgos.ru/">сайта</a>
                национальной ассоциации развития образования и науки
            </p>
            <p >
                Если Вы обучаетесь в каком-либо вузе, то Вы можете помочь улучшить качество обучения заполнив
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSdjBte-RUiJhaLXEVFA5Qhdiq9alTxwT1gp64XydbORi8Wbsw/viewform?usp=sharing">форму</a>.
                В форме несколько вопросов, поэтому это не займёт много времени и она абсолютно анонимна.

            </p>


        </div>

      </div>

      {% endblock %}
